

   .full-change{
    background-color: whitesmoke;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);
    
}

.showBorder{
    border-bottom: 1px solid red;
    cursor: pointer;
    transform:scale(1);
}



.Menue-icon-style{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transition: all .2s linear;
}

.Menue-icon-style:hover{
    color:#2a98db;
    border-bottom: 1px solid white;
}


.Menue-icon-style-icon{
    color: #2a98db !important;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: .5em;
    transition: all .2s linear;
    z-index: 1;
}


.Menue-icon-style-icon:hover{
    color:#2a98db ;
    border-bottom: 1px solid white;
    cursor: pointer;
    transform:scale(1);
    
}

.some-change{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transition: all .5s linear;
}

.some-change:hover{
    color:#2a98db ;
    border-bottom: 1px solid #2a98db;
    cursor: pointer;
    transform:scale(1);
}