

p{
    font-size: 13px;
}

.line{
    background-color: gainsboro;
    width: 4em;
}

.changing{
    background-color: gainsboro;

}
@media (max-width: 360px) {
    .width-style{
        width: 100%;
    }
}